{{>header}}
<div class="container">

<form action="" method="post">

    <label><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="uname" required>
    <label><b>Gender</b></label>
    <input type="text" placeholder="Enter Gender" name="ugender" required>
    <label><b>Age</b></label>
    <input type="text" placeholder="Enter Age" name="unage" required>
    <button type="submit">Enter</button>
</form>

</div>
{{>footer}}