<!DOCTYPE html>
<html>
<body>
<form action="/test"  method="post">
    <div>
        <label><b>Patient Id</b></label>
        <input type="text" placeholder="Enter Ptient Id" name="pid" required>

        <button type="submit">Login</button>

    </div>
</form>
</body>
</html>